.App {
  display: flex;
  justify-content: space-between;
}

.logos {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  position: sticky;
}

.logo {
  /* animation: logo-spin infinite 20s linear; */
  height: 8vmin;
  pointer-events: none;
}

.plus {
  color: #7eb1ff;
  font-size: 8rem;
}

.header {
  margin-top: 10rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  position: sticky;
  width: 300px;
  height: calc(100vh - 40px);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  color: white;
  flex-grow: 0;
  flex-shrink: 0;
}

.container {
  display: grid;
  grid-template-columns: 480px auto;
}

.main {
  width: 100vw;
  display: flex;
}

.primarybutton {
  background-color: #568fcb;
  color: #eef4fa;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  margin-top: 1rem;
  border-radius: 2rem;
  font-weight: 600;
  font-size: 22px;
  transition: 0.1s;
}

.primarybutton:hover {
  background-color: #4b88c9;
}

.secondarybutton {
  background-color: #eef4fa;
  color: #568fcb;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  border-radius: 2rem;
  font-weight: 600;
  font-size: 22px;
  transition: 0.1s;
}

.secondarybutton:hover {
  background-color: #f4f7fa;
}

.buttons {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: none;
  text-decoration: none;
}

.nermal {
  background: #000;
}

h1 {
  color: #477abe;
}
