@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-height: 60px;
  --black: hsl(0 0% 2%);
  --white: hsl(0 0% 98%);
  --content-width: 120ch;
  --accent: hsl(10 90% 50%);
  --jump: cover 15% cover 45%;
  --spin: cover 15% cover 45%;
  --flip: cover 15% cover 45%;
  --open: cover 15% cover 45%;
  --straighten: contain 25% contain 65%;
  --zoom: contain 25% exit -20%;
}
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

code {
    font-family: 'Open Sans', sans-serif;
}

#root {
  background: transparent;
}